<h3>List of nutrition's</h3>

<div class="nutri-list-container">
  <!-- Vitamines --> 
  <ul>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Vitamine A:</p>
        <p class="text-2">{{ mealTotalNeutrinos?.retinolA }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Betakaroten:</p>
        <p class="text-2">{{ mealTotalNeutrinos?.betaKaroten }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Vitamine B1:</p>
        <p class="text-2">{{ mealTotalNeutrinos?.thiamineB1 }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Vitamine B2:</p>
        <p class="text-2">{{ mealTotalNeutrinos?.riboflavinB2 }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Vitamine B3:</p>
        <p class="text-2">{{ mealTotalNeutrinos?.niacinB3 }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Vitamine B6:</p>
        <p class="text-2">{{ mealTotalNeutrinos?.B6 }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Vitamine B9:</p>
        <p class="text-2">{{ mealTotalNeutrinos?.foliansB9 }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Vitamine B12:</p>
        <p class="text-2">{{ mealTotalNeutrinos?.B12 }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Vitamine C:</p>
        <p class="text-2">{{ mealTotalNeutrinos?.C }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Vitamine D:</p>
        <p class="text-2">{{ mealTotalNeutrinos?.D }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Vitamine E:</p>
        <p class="text-2">{{ mealTotalNeutrinos?.E }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <!-- <li>
      <div class="nutri-list-item">
        <p class="text-1">Vitamine H</p>
        <p class="text-2">{{ mealTotalNeutrinos?.H }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Vitamine K:</p>
        <p class="text-2">{{ mealTotalNeutrinos?.K }}</p>
        <span>[mg]</span>
      </div>
    </li> -->
  </ul>
  <!-- Minerals -->
  <ul>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Sodium :</p>
        <p class="text-2">{{ mealTotalNeutrinos?.sodium }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Potassium :</p>
        <p class="text-2">{{ mealTotalNeutrinos?.potassium }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Calcium :</p>
        <p class="text-2">{{ mealTotalNeutrinos?.calcium }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Phosphorus :</p>
        <p class="text-2">{{ mealTotalNeutrinos?.phosphorus }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Magnesium :</p>
        <p class="text-2">{{ mealTotalNeutrinos?.manganese }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Iron :</p>
        <p class="text-2">{{ mealTotalNeutrinos?.iron }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Zinc :</p>
        <p class="text-2">{{ mealTotalNeutrinos?.zinc }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Copper :</p>
        <p class="text-2">{{ mealTotalNeutrinos?.copper }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Manganese :</p>
        <p class="text-2">{{ mealTotalNeutrinos?.manganese }}</p>
        <span>[mg]</span>
      </div>
    </li>
  </ul>
  <!-- other -->
  <ul>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">kcal :</p>
        <p class="text-2">{{ mealTotalNeutrinos?.kcal }}</p>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Water :</p>
        <p class="text-2">{{ mealTotalNeutrinos?.water }}</p>
        <span>[ml]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Protein Total :</p>
        <p class="text-2">{{ mealTotalNeutrinos?.proteinTotal }}</p>
        <span>[g]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Protein Animal :</p>
        <p class="text-2">{{ mealTotalNeutrinos?.proteinAnimal }}</p>
        <span>[g]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Protein Plant:</p>
        <p class="text-2">{{ mealTotalNeutrinos?.proteinPlant }}</p>
        <span>[g]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Fat:</p>
        <p class="text-2">{{ mealTotalNeutrinos?.fat }}</p>
        <span>[g]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Carbs:</p>
        <p class="text-2">{{ mealTotalNeutrinos?.carbs }}</p>
        <span>[g]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Saccharose:</p>
        <p class="text-2">{{ mealTotalNeutrinos?.saccharose }}</p>
        <span>[g]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Lactose:</p>
        <p class="text-2">{{ mealTotalNeutrinos?.lactose }}</p>
        <span>[g]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Cholesterol:</p>
        <p class="text-2">{{ mealTotalNeutrinos?.cholesterol }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Fiber:</p>
        <p class="text-2">{{ mealTotalNeutrinos?.fiber }}</p>
        <span>[mg]</span>
      </div>
    </li>
    <li>
      <div class="nutri-list-item">
        <p class="text-1">Glycemia Index:</p>
        <p class="text-2">{{ "100" }}</p>
      </div>
    </li>
  </ul>
</div>
