<h1>Add meal day</h1>
<p>Enter meal day date</p>

<p *ngIf="!showPastDate">
  Add today is : <b>{{ today | date }}</b>
</p>

<mat-checkbox class="example-margin" [(ngModel)]="showPastDate"
  >Add past date?</mat-checkbox
>

<div *ngIf="showPastDate" class="date-picker-wrapper">
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<div class="button-wrapper">
  <button
    class="button-margin button-margin"
    mat-raised-button
    color="primary"
    (click)="onAddMealDay()"
  >
    OK
  </button>
  <button mat-raised-button color="warn" (click)="dialogRef.close()">
    Cancel
  </button>
</div>
